logi-blue-background{
    background-color:blue;
}
logi-green-background{
    background-color:green;
}
logi-red-background{
    background-color: red;
}
logi-purple-background{
    background-color: purple;
}
logi-cyan-background {
    background-color:cyan;
}
logi-magenta-background {
    background-color: magenta;
}
logi-lime-background {
    background-color: lime;
}
logi-gold-background {
    background-color: gold;
}
logi-yellow-background {
    background-color: yellow;
}
logi-orange-background {
    background-color: orange;
}
logi-maroon-background, logi-burgundy-background {
    background-color: maroon;
}
logi-brown-background {
    background-color: brown;
}
logi-black-background {
    background-color: black;
}
logi-grey-background, logi-gray-background {
    background-color: grey;
}
